@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
    
}

body{
  font-size: 16px;
  background-color: #f6f8fa;
  
}

.align-center{
   display: flex;
   align-items: center;
}

a {
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}